.startNavbar{
	margin:0 auto;
	width: 23%;
	word-spacing:30px;
	padding-bottom:20px;
	
}
.page-footer{
	background-color:lightgray;
}
.jumbotron {
word-spacing:10px;

}
.formAbout{
	margin:0 auto;
	width: 32%;
	padding-top:20px;
	
}
